h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

article hr{
    background-color:black;
}

article p {
    font-size: 3em;
}

.article {
    margin-top: 1em;
    font-family: 'Quicksand', sans-serif;
}

.article .articleParagraph {
    text-align: left;
    font-size: 1.5em;
}

.articleList {
    margin-top: 2em;
    list-style: none;
}

.articleTitle {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
}

.articleContent {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 2em;
}

.articleContent:hover{
    cursor: pointer;
}

/* cards css */
.card {
    background-color: rgb(69, 143, 168);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100px;
    height: 100px;
	border-radius: 100%;
	text-align: center;
}

.card h4 {
    color: white;
    padding-top: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.container {
    padding: 2px 16px;
    text-align: center;
}

#front-page-intro {
    margin-left: 3em;
}

#side-carousel img {
    margin: 0 auto;
}

.edition a{
    font-size: 1.4em;
}

.excerpt {
    font-size: 1.4em;
}

.container-fluid {
    margin-top: 1em;
    text-align: center;
}

.footer-blurb {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #eee;
    color: black;
}

.footer-blurb-item {
    padding: 20px;
}

#f_the {
    font-family: "Cinzel", serif;
    font-style: regular;
    font-size: 0.5em;
}

/* Gallery page */
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.galleryMemberSection .galleryMemberList {
 	list-style: none;
	white-space: nowrap;
    display: inline;
    text-align: left;
}

.galleryMemberList li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

.galleryMemberList li::hover{
    cursor: pointer;
}

.galleryMemberList img {
    border-radius: 5px 5px 0 0;
    width: 50%;
}

hr {
    border: 10px;
    display: block;
    clear: both;
    width: 96%;
    height: 2px;
    background-color: #50B9D9;
}

#ledang {
    font-family: "Kalam", serif;
    font-style: regular;
    font-size: 8em;
}

#ledang a {
    color: #000;
}

#ledang a:hover{
    text-decoration: none;
    cursor: pointer;
}

/* lay out to display individual article */
#ledangArticle {
    font-family: "Kalam", serif;
    font-style: regular;
    font-size: 2em;
}

#ledangArticle a{
    color: #000;
}

#ledangArticle a:hover{
    text-decoration: none;
    cursor: pointer;
}

#ledangvn {
    font-family: "Cinzel", serif;
    font-style: regular;
    font-size: 6em;
}

#family {
    font-family: "Pacifico", cursive;
    font-size: 3rem;
}

.mainSlideshow{
    overflow: hidden;
    padding-top: 5em;
    text-align: center;
}

.mySlides{
    width: 85%;
    float: left;
    padding-left: 15%;
}

.menu {
    width: 90%;
    display: inline;
    white-space: nowrap;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.menu-item {
    margin-right: 4rem;
    display: inline-block;
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    position: relative;
    text-decoration: none;
    color: #000;
}

.last-menu-item {
    display: inline-block;
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    position: relative;
    text-decoration: none;
    color: #000;
}

.menu-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu-item:hover:before{
    cursor: pointer;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.last-menu-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.last-menu-item:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.menu-item:hover{
    cursor: pointer;
}

.last-menu-item:hover{
    cursor: pointer;
}

.menu a:link{
    color: #000;
}

.menu a:visited{
    color: #000;
}

.menu a:hover{
    color: #000;
    text-decoration: none;
}

.menu a:active{
    color: #000;
}

#profile-picture {
    width: 16em;
    height: 10em;
}

.small-print {
    background-color: #fff;
    padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.small-print {
    text-align: center;
}

.findLoc {
    position: absolute;
    bottom: 10em;
    right: 8em;

    width: 6em;
    height: 6em;
    text-align: center;
    padding: 6px 0;
    font-size: 1em;
    /* line-height: 1.42; */
    border-radius: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.findLoc:hover{
    cursor:pointer;
}

.post-content {
   text-align: justify;
}

.rightSide {
    position: relative;
}

.row {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    margin-top: 2em;
}

