---
layout: default
---

Hello! <br>

Welcome to my blog. My name is Duy. I'm currently attending Silver Greek high school in San Jose, California.
I have a passion for communication because I believe that all stories deserve to be listened and some to be told
for years to come. Hence, I want to tell you the story of my life and my dream here in the States. <br>
Please checkout my resume <a href="./assets/docs/DuyLeResumeJan2019.pdf"> here </a>

<br/>
<br/>
Special thanks to my big brother <a href="https://lendkhoa.gitlab.io"> Khoa Le </a> for all the help a long the way.
