---
layout: noGallery
---
<div class="row article">
    <div class="eight columns">
        {% for post in site.posts %}
        <h3> 
            <span class="badge badge-dark">{{post.date | date_to_long_string}}</span>
            <a href="{{post.url}}" class='articleTitle'> {{post.title}}</a>
        </h3>
        <div class="row excerpt">
            <div class="twelve columns">
                {{post.excerpt}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>