<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Duy Le</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../../../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Gravitas+One|Inconsolata|Libre+Baskerville|Pacifico|Quicksand" rel="stylesheet">
    <link href="../../../css/custom.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
</head>

<body>
    <div class="container-fluid">

        <div class="col-sm-2"></div>

        <!-- Center Column -->
        <div class="col-sm-8">
            <h1 id="ledangArticle"> <a href='../../../index.html'><span id="family">Duy Le</span></a></h1>
            <hr>
            <ul class="menu list-group">
                <li class="menu-item"><a href="../../../views/blogs.html"> Blogs </a></li>
                <!-- <li class="menu-item"><a href="../../../views/gallery.html"> Gallery </a></li> -->
                <li class="menu-item"><a href="../../../views/gallery.html"> Gallery </a></li>
                <li class="last-menu-item">
                    <a href="../../../views/familyTree.html"> Family Tree </a>
                </li>
            </ul>
            <div class="container-fluid article">
                <span><h1><strong>{{page.title}}</strong></h1></span>
                <h3 class="post-content">{{content}}</h3>
                <h4><strong>{{page.author}}</strong></h4>
            </div>
        </div>

        <div class="col-sm-2"></div>
    </div>

    <footer>
        <div class="small-print">
            <div class="container">
                <p> <a href="mailto: lendkhoa1394@gmail.com">Contact</a></p>
                <p>Copyright &copy; ledangfamily 2017 </p>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="../../../js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../js/bootstrap.min.js"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="../../../js/ie10-viewport-bug-workaround.js"></script>

    <!-- Placeholder Images -->
    <script src="../../../js/holder.min.js"></script>

</body>

</html>
